/* clear after floated elements */
.clear {
  clear: both;
}

.rate-name {
  font-weight: bold;
}

.rate-div a, .rate-div a:hover {
  text-decoration: none;
}

/* range (star) rating */
.rate-range {
  display: block;
}

.rating-text { /* pad 3px from top so the stars and text align */
  padding-top: 3px;
  display: inline-block;
}

.stars { 
  position: relative; 
  float: left; 
  background: url('../img/sprite.gif') repeat-x left top; 
  background-position: 0px -150px;
  cursor: default; 
}

.stars .starr { 
  height: 25px;
  padding-left: 25px;
  background: transparent none repeat-x left top; 
  /*cursor: pointer; */
  display: inline-block;
  position: relative;
}

.stars .starr a {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  top:0;
  left: 0;
  text-decoration: none;
}

.stars:hover .starr { 
  background-image: url(../img/sprite.gif);  
  background-position: 0px -150px;
}

.stars:hover .starr:hover {
  background-image: url(../img/sprite.gif); 
  background-position: 0px -200px;
}

.stars .rating { 
  position: absolute; 
  height: 100%; 
  background: url(../img/sprite.gif) repeat-x left top;  
  background-position: 0px -175px;
}

.stars:hover .rating { 
  display: none;
}

/* one and two-way displays */
.rate {
  background: url(../img/sprite.gif);
  background-repeat: no-repeat;
  padding-left: 25px; /* space between icon and link text */
  display: inline-block; /* make sure it sticks to rate-count on the same line */
  height: 25px; /* height of the icon */
  text-decoration: none;
}

/* background positions for rating sprite */
.heart {
  background-position: 0px 0px;
}

.heart:hover {
  background-position: 0px -25px;
}

.thumb {
  background-position: 0px -50px;
}

.thumb:hover {
  background-position: 0px -75px;
}

.thumb-down {
  background-position: 0px -100px;
}

.thumb-down:hover {
  background-position: 0px -125px;
}

.arrow {
  background-position: 0px -225px;
}

.arrow:hover {
  background-position: 0px -250px;
}

.arrow-down {
  background-position: 0px -275px;
}

.arrow-down:hover {
  background-position: 0px -300px;
}

.star {
  background-position: 0px -150px;
}

.star-selected {
  background-position: 0px -175px;
}

.star:hover {
  background-position: 0px -200px;
}

/* poll */
.poll-question {
  font-weight: bold;
}

.poll-list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
