.evaluate-shell {
    margin-bottom: 10px;
}

/* Clear after floated elements */
.clear {
    clear: both;
}

.rate-name {
    font-weight: bold;
}

.rate-div a,
.rate-div a:hover {
    text-decoration: none;
}

/* Range (star) rating */
.rate-range {
    display: block;
    margin-top: 1px;
    height: 16px;
    overflow: hidden;
}

.rate-range .stars {
    margin-top: 1px;
}

.rating-text {
    padding-top: 0px;
    margin-left: 5px;
    display: inline-block;
}

.stars { 
    position: relative; 
    float: left; 
    background: url('../img/sprite.gif') repeat-x left top; 
    background-position: 0px -96px;
    cursor: default; 
}

.stars .starr { 
    height: 16px;
    padding-left: 16px;
    background: transparent none repeat-x left top; 
    display: inline-block;
    position: relative;
}

.stars .starr a {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
}

.evaluate-shell.can-vote .stars:hover .starr { 
    background-image: url(../img/sprite.gif);  
    background-position: 0px -96px;
}

.evaluate-shell.can-vote .stars:hover .starr:hover,
.stars-selected {
    background-image: url(../img/sprite.gif); 
    background-position: 0px -128px !important;
}

.stars .rating { 
    position: absolute; 
    height: 100%; 
    background: url(../img/sprite.gif) repeat-x left top;  
    background-position: 0px -112px;
}

.stars .rating-selected { 
    position: absolute; 
    height: 100%; 
    background: url(../img/sprite.gif) repeat-x left top;  
    background-position: 0px -128px;
}

.evaluate-shell.can-vote .stars:hover .rating { 
    display: none;
}

/* One and Two-way displays */
.rate {
    background: url(../img/sprite.gif);
    background-repeat: no-repeat;
    padding-left: 17px; /* space between icon and link text */
    display: inline-block; /* make sure it sticks to rate-count on the same line */
    height: 16px; /* height of the icon */
    text-decoration: none;
    position: relative;
    top: 1px;
}

/* Background positions for rating sprite */
.heart {
    background-position: 0px 0px;
}

.evaluate-shell.can-vote .heart:hover,
.heart-selected {
    background-position: 0px -16px;
}

.thumb {
    background-position: 0px -32px;
}

.evaluate-shell.can-vote .thumb:hover,
.thumb-selected {
    background-position: 0px -48px;
}

.thumb-down {
    background-position: 0px -64px;
}

.evaluate-shell.can-vote .thumb-down:hover,
.thumb-down-selected {
    background-position: 0px -80px;
}

.star {
    background-position: 0px -96px;
}

.star-selected {
    background-position: 0px -112px;
}

.evaluate-shell.can-vote .star:hover {
    background-position: 0px -128px;
}

.arrow {
    background-position: 0px -144px;
}

.evaluate-shell.can-vote .arrow:hover,
.arrow-selected {
    background-position: 0px -160px;
}

.arrow-down {
    background-position: 0px -176px;
}

.evaluate-shell.can-vote .arrow-down:hover,
.arrow-down-selected {
    background-position: 0px -192px;
}

/* Poll */
.rate-poll ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.poll-question {
    font-weight: bold;
}

.rate-poll.hide-results ul .poll-answer {
    color: #767676;
}

.rate-poll.hide-results ul .poll-answer:hover {
    color: #333333;
}

.rate-poll.hide-results .poll-result,
.rate-poll.hide-results .poll-average {
    display: none;
}

.rate-poll.hide-results .poll-answer {
    margin: 3px 6px;
}

.rate-poll:not(.hide-results) .poll-answer input {
    display: none;
}

.poll-list li {
    margin: 0;
    padding: 0;
}

.poll-actions {
    margin-top: 8px;
    margin-bottom: 5px;
}

.poll-result {
    width: 200px;
    height: 10px;
    background-color: #b9b9b9;
}

.poll-result > div {
    height: 10px;
}

.poll-list > a {
    color: #555555;
}

.evaluate-shell.can-vote .poll-list > a:hover {
    color: #333333;
}

.evaluate-shell.can-vote .poll-list > a:hover .poll-bar {
    width: 100% !important;
}

.poll-bar {
    background-color: #767676;
}

.evaluate-shell.can-vote .poll-list > a:hover .poll-bar,
.poll-bar.selected { 
    background-color: #333333;
}
