.metric-shell{
	margin-bottom: 5px;
	
}

/* start rating */
.rate,
.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating {
	background:url(../img/sprite.gif) left -1000px repeat-x;
}

.star-rating {
	position:relative;
	width:125px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:0!important;
	padding:0!important;
	background-position:0 -145px;
}

.star-rating li {
	display:inline;
}

.star-rating a,
.star-rating .current-rating {
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border:none;
}

.star-rating a.star-1 {
	width:20%;
	z-index:6;
}

.star-rating a.star-2 {
	width:40%;
	z-index:5;
}

.star-rating a.star-3 {
	width:60%;
	z-index:4;
}

.star-rating a.star-4 {
	width:80%;
	z-index:3;
}

.star-rating a.star-5{
	width:100%;
	z-index:2;
}

.star-rating .current-rating {
	z-index:1;
	background-position:0 -169px;
}

.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus {
	background-position:0 -193px;
}
.inline-rating{
	display:-moz-inline-block;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align: middle;
}

.rate-shell{
	position: relative;
	overflow: hidden;
}
.rate,
.rate-count{
	display: block;
	float: left;
	line-height: 25px;
}
.rate{
	width:25px;
	height: 25px;
	text-indent: -999px;
	line-height: 25px;
	outline:none;
	border:none;
	text-decoration: none;
}
/* single and double rating */
.thumb{
	background-position:0 -50px;
}
.thumb:hover, .thumb.selected-rating{
	background-position:0 -74px;
}
.thumb-down{
	background-position:0 -96px;
}
.thumb-down:hover, .thumb-down.selected-rating{
	background-position:0 -120px;
}
.heart {
	background-position:0 -1px;
}
.heart:hover, .heart.selected-rating {
	background-position:0 -24px;
}
.arrow {
	background-position:0 -264px;
}
.arrow:hover, .arrow.selected-rating {
	background-position:0 -289px;
}
.arrow-down {
	background-position:0 -312px;
}
.arrow-down:hover, .arrow-down.selected-rating {
	background-position:0 -336px;
}

/* poll */

.poll-form {
	padding: 0 0 10px;
}
.poll-form input{
	margin:0!important;
}
.poll-results,
.poll-form ul {
	padding: 10px !important;
	margin: 0 0 10px!important;
	border:1px solid #EEE;
	max-width:300px;
}

.poll-results li,
.poll-form li{
	list-style: none;
	margin:0 0 5px 0!important;
}

.poll-result-line{
	display: block;
	background: #DDD;
	height:5px;
	border-left: 2px solid #DDD;
}

/* box to show metric details */
.eval-title {
  font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
  font-size: 15px;
  font-weight: 400;
  color: #464646;
  line-height: 15px;
  text-shadow: #FFFFFF 0px 1px 0px;
  padding: 7px 10px 7px 10px;
}

/* add top margin to details box */
.postbox {
  margin-top: 15px;
}

/* remove cursor:move from the heading in .postbox */
.postbox h3 {
  cursor: auto;
}