.indent {
    margin-left: 25px;
}

.metric_preview {
    display: none;
}

.metric-details {
    padding: 0px !important;
    margin: 0px !important;
}

.metric-details-inner {
    padding-left: 15px;
    padding-bottom: 15px;
}

.metric-details h3 {
    padding: 5px;
    font-family: Georgia,​serif;
    font-size: 14px;
    font-weight: 400;
}

.metric-details h3:hover {
  cursor: default !important;
}